.wd-navigation {
    background-color: white;
    list-style: none;
    padding: 0px;
    width: 125px;
    margin: 0px 20px;
  }
  .wd-navigation li {
    padding-left: 7px;
    padding-top: 7px;
    padding-bottom: 10px;
  }
  .wd-navigation li.wd-active {
    border-left: 2px solid black;
  }
  .wd-navigation li.wd-active a {
    color: black;
  }
  .wd-navigation a {
    color: red;
    text-decoration: none;
  }
.nav-header {
  margin: 15px 25px;
  font-size: 13px;
  color: #677179;
}
  