.breadcrumb-header {
    display: flex;
    height: 50px;
    align-items: center;
    font-size: 18px;
    padding: 0 30px;
    justify-content: space-between;
    margin-top: 10px;
}

.breadcrumb-header > span > button > svg {
    font-size: 25px;
    color: var(--kanbasred);
}
  
.breadcrumb-header > span > span {
    margin-left: 20px;
    align-items: center;
    display: flex;
}

.breadcrumb-header > span > span > svg {
    margin: 0 5px;
    color: gray;
}

.flex-buttons {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.center-flex {
    display: flex;
    align-items: center;
}

.menu-button {
    background-color: white;
    border: none;
}

.url {
    color: var(--kanbasred);
    text-decoration: none;
}

.new-nav {
  background-color: black;
  display: flex;
  flex-direction: row;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}

.new-nav > a,
.new-nav > span > a {
  text-decoration: none;
}

.new-nav > button,
.new-nav > span > button,
.new-nav > span > a > button {
  background-color: black;
  border: none;
}

.new-nav > button > svg,
.new-nav > span > button > svg,
.new-nav > span > a > button > svg {
  color: white;
  font-size: 18px;
}

.close-kanbas {
  background: white;
  border: none;
  float: right;
  padding-right: 20px;
  padding-top: 10px;
  color: var(--kanbasred);
}

.mini-kanbas-nav {
  margin: 0 10px;
}

.margin-bottom-4 {
  margin-bottom: 4px;
}